body{
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8.45%;
}
.menu_section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.menu_section .nav_item{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    padding: 0 .75rem;
    font-weight: 500;
    transition: all 300ms;
}
.menu_section .nav_item:hover{
    color: #2c737b;
}
.change_lang_block{
    padding: 2.5rem 0;
}
.change_lang_block .select_lang{
    font-family: 'Montserrat', sans-serif;
    color: #0F2B2E;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
.select_lang:focus{
    border: none;
}
.front_block{
    background-image: url('./asset/front_block_bkg_prod.png');
    width: 100%;
    max-width: 100%;
    height: 800px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.front_block_text{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 4.75rem 44% 15.8rem 8.45%;
}
.front_block_title{
    font-size: 3rem;
    font-weight: 700;
}
.front_block_description{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 3.75rem;
}
.link_list{
    right: 8.45%;
    position: absolute;
}
.list_text{
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.links_group{
    display: flex;
    flex-direction: row;
    width: 310px;
    justify-content: space-between;
    margin-top: 1rem;
}
.links_group .link_item{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.link_item img{
    width: 100%;
    height: 100%;
}
.our_products{
    font-family: 'Montserrat', sans-serif;
    padding: 3.125rem 8.45% 15rem;
    overflow: hidden; /* Prevents showing the out of bound items */
    position: relative; /* For positioning the navigation buttons */
}
.our_products_title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    text-align: center;
}
.our_products_contain{
    margin-top: 7rem;
}
.products_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden; /* Hide anything outside the viewport */
    scroll-behavior: smooth; /* Smooth scrolling when changing slides */
}
.product_item {
    flex: 0 0 calc(31% - 3%); /* Adjusting width to account for the gap */
    margin-right: 3%; /* Right margin as the gap */
    box-sizing: border-box; /* Include padding and border in the element's width */
}

.product_item:last-child {
    margin-right: 0; /* Remove margin for the last item to prevent extra spacing */
}
.product_item_block{
    width: 500px;
    max-width: 500px;
    height: 550px;
    max-height: 550px;
    position: relative;
}
.product_item_text{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 700;
    width: 70%;
}
.product_id_1{
    background-image: url("./asset/product_item_1.png");
}
.product_id_2{
    background-image: url("./asset/product_item_2.png");
}
.product_id_3{
    background-image: url("./asset/product_item_3.png");
}
.product_id_4{
    background-image: url("./asset/product_item_4.png");
}
.product_id_5{
    background-image: url("./asset/product_item_5.png");
}
.product_id_6{
    background-image: url("./asset/product_item_6.png");
}
.prev_button, .next_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: none;
    border: none;
    cursor: pointer;
}
.prev_button {
    left: 5%;
}

.next_button {
    right: 5%;
}

.quality_block{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #0F2B2E;
    padding-top: 5.875rem;
    height: 70rem;
}
.quality_title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.quality_text{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    padding: 3.688rem 8.45%;
}
.logo_white{
    position: relative;
    margin-top: 2rem;
}
.logo_white img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.controls{
    margin-top: 4.375rem;
}
.last_news_block .last_news_title{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}
.last_news_text{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1596px;
    max-width: 1596px;
    margin-top: 9.438rem;
    overflow-x: scroll;
    gap: 6rem;
}
.last_news_text::-webkit-scrollbar{
    display: none;
}
.last_news_container{
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
}
.controls #leftBtn, .controls #rightBtn{
    width: 37px;
    cursor: pointer;
    position: absolute;
    margin-top: 18rem;
    z-index: 99;
}
.controls #leftBtn{
    left: 3%;
}
.controls #rightBtn{
    right: 3%;
}
span{
    width: 300px;
    height: 400px;
}
span img{
    width: 100%;
}
.connect_block{
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    padding: 16.5rem 0;
}
.connect_btn_block{
    position: relative;
}
.connect_btn{
    position: absolute;
    color: #fff;
    background-color: #0F2B2E;
    padding: 1rem 3.328rem;
    font-size: 2rem;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
footer{
    margin-top: 5rem;
    background-color: #0F2B2E;
    padding: 1.25rem 8.45% 5rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
.contact_block{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 27%;
    max-width: 430px;
}
.contact_title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}
.contact_item{
    display: flex;
    justify-content: space-between;
    margin-top: .875rem;
    font-weight: 500;
    font-size: 1.25rem;
}
.social_block{
    display: flex;
    flex-direction: column;
    margin-top: 3.25rem;
}
.social_list{
    display: flex;
    justify-content: space-between;
    max-width: 750px;
}
.social_list_item{
    text-decoration: none;
    color: #fff;
    display: flex;
    text-align: right;
    padding-left: 3.438rem;
    font-size: 1.25rem;
    font-weight: 500;
}
.social_links{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 2.125rem;
    gap: 1rem;
}
.social_links a {
    text-decoration: none;
    width: 50px;
    height: 50px;
}
.social_links a img{
    width: 100%;
}
.connect_our_block{
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}
.popup_body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_content{
    background-color: #fff;
    color: #000;
    max-width: 500px;
    padding: 5rem;
    font-family: 'Montserrat',sans-serif;
    position: relative;
}
.popup_close{
    position: absolute;
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    top: 10px;
    right: 20px;
}
.popup_title{
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
}
.popup_text{
    display: flex;
    flex-direction: column;
}
.popup_text input{
    padding: .75rem;
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 2rem;
}
.submit_btn{
    margin-top: 2rem;
    position: relative;
}
.submit_btn button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    color: #fff;
    background-color: #0F2B2E;
    padding: .5rem 1.25rem;
}

@media screen and (min-width: 2550px){
    header{
        padding: 0 20%;
    }
    .front_block_text{
        padding: 4.75rem 44% 15.8rem 20%;
    }
    .link_list {
        right: 20%;
    }
    .our_products{
        padding: 3.125rem 19% 15rem
    }
    .prev_button {
        left: 15%;
    }
    .next_button {
        right: 15%;
    }
    .quality_text{
        padding: 3.688rem 18%;
    }
    .controls #rightBtn {
        right: 15%;
    }
    .controls #leftBtn {
        left: 15%;
    }
    footer{
        padding: 1.25rem 20% 5rem;
    }
}
@media screen and (max-width: 1821px){
    .controls #leftBtn {
        left: 2%;
    }
    .controls #rightBtn {
        right: 2%;
    }
    footer{
        padding: 1.25rem 5% 5rem;
    }
}
@media screen and (max-width: 1761px){
    .last_news_text{
        width: 1510px;
    }
}
@media screen and (max-width: 1681px){
    .last_news_text {
        width: 1450px;
    }
    .contact_block{
        width: 40%;
    }
    .product_item_block {
        width: 435px;
    }
    .prev_button {
        left: 3%;
    }
    .next_button {
        right: 3%;
    }
}
@media screen and (max-width: 1601px){
    header{
        padding: 0 5%;
    }
    .front_block_text{
        padding: 4.75rem 37% 15.8rem 5%;
    }
    .last_news_text {
        width: 1400px;
    }
    .product_item_block {
        width: 417px;
    }
}
@media screen and (max-width: 1561px) {
    .front_block_text {
        padding: 4.75rem 30% 15.8rem 5%;
    }
    .product_item{
        margin-right: 2%;
    }
    .product_item_block {
        width: 408px;
    }
    .last_news_text {
        width: 1330px;
    }
    .controls #leftBtn{
        margin-top: 16rem;
    }
    .controls #rightBtn{
        margin-top: 16rem;
    }
    
}
@media screen and (max-width: 1441px){
    .last_news_text {
        width: 1250px;
    }
    .product_item_block{
        width: 383px;
        height: 450px;
    }
    .product_item_text{
        font-size: 2rem;
    }
}
@media  screen and (max-width: 1367px) {
    .menu_section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .change_lang_block {
        padding: 1.5rem 0;
    }
    .front_block_text {
        padding: 4.75rem 20% 15.8rem 5%;
    }
    .front_block{
        height: 740px;
    }
    .logo_section{
        height: 80px;
    }
    .logo_section img{
        height: 100%;
    }
    .product_item_block {
        width: 364px;
    }
    .last_news_text {
        width: 1180px;
    }
}
@media screen and (max-width: 1281px){
    .front_block_title {
        font-size: 2.5rem;
    }
    .front_block_description{
        margin-top: 3rem;
    }
    .our_products{
        padding: 3.125rem 5% 15rem;
    }
    .prev_button {
        left: 0%;
    }
    .next_button {
        right: 0%;
    }
    .quality_text{
        font-size: 1.75rem;
        padding: 3.688rem 5%;
    }
    .controls #leftBtn {
        left: 1%;
        margin-top: 14rem;
    }
    .controls #rightBtn{
        right: 1%;
        margin-top: 14rem;
    }
    .last_news_text {
        width: 1100px;
    }
    .last_news_container{
        grid-gap: 1rem;
    }
    .connect_btn{
        font-size: 1.5rem;
    }
    footer {
        padding: 1.25rem 1% 5rem;
    }
}
@media screen and (max-width: 1235px){
    .last_news_text {
        width: 1060px;
    }
}
@media screen and (max-width: 1175px){
    .last_news_text {
        width: 1000px;
    }
    .quality_block{
        height: 65rem;
    }
    .social_block{
        margin-top: .25rem;
    }
    .social_list_item{
        font-size: 1rem;
    }
    .contact_item{
        font-size: 1rem;
    }
    .connect_block{
        padding: 10rem 0;
    }
}
@media screen and (max-width: 1025px) {
    .last_news_text {
        width: 900px;
    }
    .our_products {
        padding: 3.125rem 6% 15rem;
    }
    .our_products_contain {
        margin-top: 4rem;
    }
    .product_item {
        flex: 0 0 calc(35% - 3%);
    }
    .product_item_block {
        width: 100%;
    }
    .product_item_text {
        font-size: 1.5rem;
    }
}