body{
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8.45%;
}
.menu_section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.menu_section .nav_item{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    padding: 0 .75rem;
    font-weight: 500;
    transition: all 300ms;
}
.menu_section .nav_item:hover{
    color: #2c737b;
}
.change_lang_block{
    padding: 2.5rem 0;
}
.change_lang_block .select_lang{
    font-family: 'Montserrat', sans-serif;
    color: #0F2B2E;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
.select_lang:focus{
    border: none;
}
.front_block{
    background-image: url('./furniture_front_block_bkg.png');
    width: 100%;
    max-width: 100%;
    height: 700px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.front_block_text{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 4.75rem 44% 15.8rem 8.45%;
}
.front_block_title{
    font-size: 3rem;
    font-weight: 700;
}
.front_block_description{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 3.75rem;
}
.link_list{
    right: 8.45%;
    position: absolute;
    bottom: 3.5rem;
}
.list_text{
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.links_group{
    display: flex;
    flex-direction: row;
    width: 310px;
    justify-content: space-between;
    margin-top: 1rem;
}
.links_group .link_item{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.link_item img{
    width: 100%;
    height: 100%;
}
.our_products{
    font-family: 'Montserrat', sans-serif;
    padding: 3.125rem 8.45% 15rem;
    overflow: hidden; /* Prevents showing the out of bound items */
    position: relative; /* For positioning the navigation buttons */
}
.our_products_title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 4rem;
}
.our_products_contain{
    margin-top: 5rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.products_container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.product_item {
}
.product_item_block{
    width: 500px;
    max-width: 500px;
    height: 550px;
    max-height: 550px;
    position: relative;
}
.product_item_text{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 700;
    width: 70%;
}
.product_id_1{
    background-image: url("./furniture_item_1.png");
}
.product_id_2{
    background-image: url("./furniture_item_2.png");
}
.prev_button, .next_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: none;
    border: none;
    cursor: pointer;
}
.prev_button {
    left: 5%;
}

.next_button {
    right: 5%;
}

footer{
    margin-top: 1rem;
    background-color: #0F2B2E;
    padding: 1.25rem 8.45% 5rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
.contact_block{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 27%;
    max-width: 430px;
}
.contact_title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}
.contact_item{
    display: flex;
    justify-content: space-between;
    margin-top: .875rem;
    font-weight: 500;
    font-size: 1.25rem;
}
.social_block{
    display: flex;
    flex-direction: column;
    margin-top: 3.25rem;
}
.social_list{
    display: flex;
    justify-content: space-between;
    max-width: 750px;
}
.social_list_item{
    text-decoration: none;
    color: #fff;
    display: flex;
    text-align: right;
    padding-left: 3.438rem;
    font-size: 1.25rem;
    font-weight: 500;
}
.social_links{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 2.125rem;
    gap: 1rem;
}
.social_links a {
    text-decoration: none;
    width: 50px;
    height: 50px;
}
.social_links a img{
    width: 100%;
}

@media screen and (min-width: 2550px){
    header{
        padding: 0 20%;
    }
    .front_block_text{
        padding: 4.75rem 44% 15.8rem 20%;
    }
    .link_list {
        right: 20%;
    }
    .our_products{
        padding: 3.125rem 19% 15rem
    }
    .prev_button {
        left: 15%;
    }
    .next_button {
        right: 15%;
    }
    .quality_text{
        padding: 3.688rem 18%;
    }
    .controls #rightBtn {
        right: 15%;
    }
    .controls #leftBtn {
        left: 15%;
    }
    footer{
        padding: 1.25rem 20% 5rem;
    }
}
@media screen and (max-width: 1821px){
    .controls #leftBtn {
        left: 2%;
    }
    .controls #rightBtn {
        right: 2%;
    }
    footer{
        padding: 1.25rem 5% 5rem;
    }
}
@media screen and (max-width: 1681px){
    .product_item_block {
        width: 435px;
    }
    .prev_button {
        left: 3%;
    }
    .next_button {
        right: 3%;
    }
}
@media screen and (max-width: 1601px){
    header{
        padding: 0 5%;
    }
    .front_block_text{
        padding: 4.75rem 37% 15.8rem 5%;
    }
    .product_item_block {
        width: 417px;
    }
}
@media screen and (max-width: 1561px) {
    .front_block_text {
        padding: 4.75rem 30% 15.8rem 5%;
    }
    .contact_block{
        width: 35%;
    }
    .controls #leftBtn{
        margin-top: 16rem;
    }
    .controls #rightBtn{
        margin-top: 16rem;
    }
}
@media screen and (max-width: 1441px){
    .product_item_block{
        width: 383px;
        height: 450px;
    }
    .product_item_text{
        font-size: 2rem;
    }
}
@media  screen and (max-width: 1367px) {
    .menu_section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .change_lang_block {
        padding: 1.5rem 0;
    }
    .front_block_text {
        padding: 4.75rem 20% 15.8rem 5%;
    }
    .front_block{
        height: 740px;
    }
    .logo_section{
        height: 80px;
    }
    .logo_section img{
        height: 100%;
    }
    .product_item_block {
        width: 364px;
    }
}
@media screen and (max-width: 1281px){
    .front_block_title {
        font-size: 2.5rem;
    }
    .front_block_description{
        margin-top: 3rem;
    }
    .our_products{
        padding: 3.125rem 5% 15rem;
    }
    footer {
        padding: 1.25rem 1% 5rem;
    }
}
@media screen and (max-width: 1175px){
    .social_block{
        margin-top: .25rem;
    }
    .social_list_item{
        font-size: 1rem;
    }
    .contact_item{
        font-size: 1rem;
    }
    .connect_block{
        padding: 10rem 0;
    }
}
@media screen and (max-width: 1025px) {
    .our_products {
        padding: 3.125rem 6% 15rem;
    }
    .our_products_contain {
        margin-top: 4rem;
    }
    
    .product_item_text {
        font-size: 1.5rem;
    }
}